<!DOCTYPE html>
<html>
  <head>
    <title>Career-Climb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Career-Climb</h1>
    <img class="img-fluid" id="banner" src="https://career-climb.aashaykaurav.repl.co/static/banner.jpeg" height="320">
    <h2 class="text-center mt-2 mb-4">About</h2>
    <p class="lead">
      The future belongs to those who believe in the beauty of their dreams.
      
      Welcome to our career website, your one-stop-shop for all your job search needs. We understand how challenging it can be to navigate the job market, which is why we've created a platform that provides you with everything you need to succeed. Whether you're just starting your career or looking to make a change, our job search engine makes it easy to find the perfect opportunity. But we don't stop there - we also offer expert career advice, resources, and tools to help you build the skills you need to thrive. Join a community of career-driven individuals who share your passion for success and growth, and unlock your full potential with us. Let us help you find your dream job and take your career to the next level.
    </p>
    <h2 class="text-center mt-2 mb-4">Job Openings</h2>
    <p>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
    </p>
      <div class="text-center">
        <button class="btn btn-primary btn-sm">Contact us</button>
        <p class="mt-4">Copyright 2023</p>
      </div>
    </div>
  </body>
</html>